<h2> Welcome to Level one of " Learn Zone" where your learning of English starts</h2>
<div id="lvl1-choose-option"> 
    <p> In this level you will choose the correct option for the name of the item that's displayed</p>
    <div class= "image-lvl1">
        <h3> Cual el nombre de esta imagen</h3>
       <img src = "https://upload.wikimedia.org/wikipedia/commons/4/45/A_small_cup_of_coffee.JPG">
       <select class="custom-select">
        <option selected>Selecione la respuesta correcta</option>
        <option value="1">Coffe</option>
        <option value="2">Suggar</option>
        <option value="3">Car</option>
      </select>
    </div>

<div class= "image-lvl1-v2">
        <h3> Cual el nombre de esta imagen</h3>
       <img src = "https://www.vhv.rs/dpng/d/30-308329_cartoon-boy-transparent-background-hd-png-download.png">
       <select class="custom-select">
        <option selected>Selecione la respuesta correcta</option>
        <option value="1">Car</option>
        <option value="2">Boy</option>
        <option value="3">Girl</option>
      </select>
    </div>
    <div class="image-lvl1">
        <h3> Cual el nombre de esta imagen</h3>
       <img src = "https://www.pngfind.com/pngs/m/348-3484413_png-apple-maa-fruta-saudavel-freetoedit-transparent-background.png">
       <select class="custom-select">
        <option selected>Selecione la respuesta correcta</option>
        <option value="1">Apple</option>
        <option value="2">Pinneaple</option>
        <option value="3">Tea</option>
      </select>
    </div>
    <div class= "image-lvl1-v2">
        <h3> Cual el nombre de esta imagen</h3>
       <img src = "https://i.pinimg.com/originals/ca/4c/6b/ca4c6be8d049a58b46f9a52b2d69d764.png">
       <select class="custom-select">
        <option selected>Selecione la respuesta correcta</option>
        <option value="1">Dog</option>
        <option value="2">Fish</option>
        <option value="3">Orange</option>
      </select>
    </div>
    <div class="image-lvl1">
        <h3> Cual el nombre de esta imagen</h3>
       <img src = "https://www.pinclipart.com/picdir/middle/537-5379209_soccer-ball-on-a-transparent-background-soccer-ball.png">
       <select class="custom-select">
        <option selected>Selecione la respuesta correcta</option>
        <option value="1">Bat</option>
        <option value="2">Shoes</option>
        <option value="3">Ball</option>
      </select>
    </div>
    <div class="image-lvl1">
        <h3> Cual el nombre de esta imagen</h3>
       <img src = "https://upload.wikimedia.org/wikipedia/commons/4/45/A_small_cup_of_coffee.JPG">
       <select class="custom-select">
        <option selected>Selecione la respuesta correcta</option>
        <option value="1">Coffe</option>
        <option value="2">Suggar</option>
        <option value="3">Car</option>
      </select>
    </div>
    <div class= "image-lvl1-v2">
        <h3> Cual el nombre de esta imagen</h3>
       <img src = "https://upload.wikimedia.org/wikipedia/commons/4/45/A_small_cup_of_coffee.JPG">
       <select class="custom-select">
        <option selected>Selecione la respuesta correcta</option>
        <option value="1">Car</option>
        <option value="2">Boy</option>
        <option value="3">Girl</option>
      </select>
    </div>
    <div class="image-lvl1">
        <h3> Cual el nombre de esta imagen</h3>
       <img src = "https://upload.wikimedia.org/wikipedia/commons/4/45/A_small_cup_of_coffee.JPG">
       <select class="custom-select">
        <option selected>Selecione la respuesta correcta</option>
        <option value="1">Coffe</option>
        <option value="2">Suggar</option>
        <option value="3">Car</option>
      </select>
    </div>

